@import "variables";
@import "material-icons";

// TODO: LIST SHADOw INSET - show more results

$select-spacing: 14px;

%select-button {
  @extend %material-icons;
  //border-radius: $button-radius;
  //border-radius: 50%;
  //border: 4px solid white;
  transition: background-color 100ms ease;
  width: $button-height;
  flex-shrink: 0;

  &:hover, &:focus {
    background-color: $MIA-light-grey;
  }
}

%select-row-input {
  flex: 1 1;
  padding: 0 $select-spacing;
}

//

//
//.select-field-extension {
//  //@extend %MIA-outline;
//  border-radius: $button-radius;
//  margin-bottom: 3px;
//
//  &:empty {
//    render: none;
//  }
//}
