$sidebar-width: 200px;
$sidebar-spacing: 14px;
$button-height: 40px;
$button-radius: 0px;
$logo-height: 60px;
$header-colour: white;
$body-spacing: 30px;
$MIA-grey: rgb(211, 211, 211);
$MIA-yellow: rgb(255, 217, 0);
$MIA-light-grey: #EEE;
$MIA-light-yellow: lighten(desaturate($MIA-yellow, 20%), 20%);
$error-color: salmon;


%field-shadow{
  box-shadow: 0 2px 3px rgba(black, 0.1);
}

%text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

%no-select {
  user-select: none;
}

%hover-shadow {
  box-shadow: 0 4px 16px rgba(black, 0.3);
}

%MIA-font {
  font-family: roboto, Arial, serif;
}

%tag {
  background-color: $MIA-light-grey;
  font-size: 12px;
  display: inline-block;
  line-height: 18px;
  border-radius: $button-radius;
  padding: 0 6px;
}


%MIA-outline {
  border: 1px solid $MIA-grey;
  //outline: none;
  //border: none;
  //@extend %field-shadow;
}

%list-underline {
  border-bottom: 1px solid $MIA-grey;
  box-sizing: border-box;
  //
  //&:last-child {
  //  border-bottom: none;
  //}
}