@import "material-icons";
@import "variables";
@import "ProblemSelect";

.select-field, textarea {
  //margin-bottom: 24px; TODO: MARGIN-BOTTOM
  //&:last-child {
  //  margin-bottom: 0;
  //}
  box-sizing: border-box;

}

.form-field {
  margin-bottom: 15px;
}

#new-call-button {
  display: none;
}

#report-call-button-con {
  text-align: center;
}
#report-call-button {
  @extend %call-button;
  margin-top: 20px;
  cursor: pointer;
  width: 100%;
  //border-radius: 20px;
  background-color: $MIA-light-yellow;
}
