@import "material-icons";
@import "ProblemSelect";
@import "SelectOption";

.select-field, textarea, .urgency-field {
  margin-bottom: 24px;
  box-sizing: border-box;

  &:last-child {
    margin-bottom: 0;
  }
}

.field-label {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  //z-index: 100;
  //position: relative;

  > label {
    color: #333;
    font-size: 13px;
  }

  > .required-field {
    @extend %tag;
    @extend %no-select;
    margin-left: 10px;

    &.required-error {
      background-color: $error-color;
    }
  }
}