@import "SelectVariables";

.select-root {
  //@extend %field-shadow;
  position: relative;
  padding-bottom: $button-height;
  //margin-bottom: 40px; TODO: MARGIN-BOTTOM
  //
  //&:last-child {
  //  margin-bottom: 0;
  //}

  //* {
  //  outline: none;
  //}
}

.select-option-list {
  //line-height: normal; // TODO <<<;
  //display: none;
  background-color: white;
  max-height: calc(50vh - #{$logo-height / 2 +$body-spacing + $button-height});
  overflow-y: auto;
  font-family: Arial, serif;
  font-size: 13px;

  &:empty:after {
    content: 'No matching results';
    text-align: center;
    display: block;
    line-height: $button-height;
    font-style: italic;
  }
}

.select-option {
  height: 32px;
  display: flex;
  width: 100%;
  text-align: left;
  align-items: center;
  outline: none;

  &:hover {
    background-color: $MIA-light-grey;
  }

  &:focus {
    background-color: $MIA-grey;
  }
}

.select-toggle {
  @extend %select-button;

  &:after {
    content: "keyboard_arrow_down";
  }
}

.select-option-remove {
  @extend %select-button;

  &:after {
    content: "close";
  }
}

.select-field {
  //@extend %MIA-outline;
  position: absolute;
  left: 0;
  right: 0;
  height: $button-height;
  border-radius: $button-radius;
  background: white;

  &.active {
    @extend %hover-shadow;
    //border: 2px solid $MIA-light-grey;
    z-index: 999;
    height: auto;

    //%list-underline {
    //border-color: $MIA-grey;
    //}
  }
}

.select-row {
  @extend %list-underline;
  //&:hover {
  //  @extend %field-shadow;
  //}

  height: $button-height;
  font-size: 14px;
  display: flex;
  //align-items: center;
}

//
.select-search {
  @extend %select-row-input;

  &:focus, &:hover {
    background-color: $MIA-light-grey
  }

}

textarea {
  @extend %MIA-outline;
  @extend %MIA-font;
  border-radius: $button-radius;
  resize: vertical;
  display: block;
  min-height: 2 * $button-height;
  padding: 10px 14px;
  width: 100%;
}