.select-problem-save,
.select-problem-edit,
.material-icons {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.select-new-problem-con {
  border: 1px solid lightgray;
}

.select-input {
  border-bottom: 1px solid lightgray;
  box-sizing: border-box;
}

#report-call-button {
  font-family: rbold;
  font-size: 14px;
  height: 40px;
  border-radius: 0px;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(/f/material-icons.woff2) format("woff2");
}

.select-problem-save,
.select-problem-edit,
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
}

.select-problem-save,
.select-problem-edit,
.material-icons {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.select-new-problem-con {
  border: 1px solid lightgray;
}

.select-input {
  border-bottom: 1px solid lightgray;
  box-sizing: border-box;
}

#report-call-button {
  font-family: rbold;
  font-size: 14px;
  height: 40px;
  border-radius: 0px;
}

.select-problem-save,
.select-problem-edit,
.material-icons {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.select-new-problem-con {
  border: 1px solid lightgray;
}

.select-input {
  border-bottom: 1px solid lightgray;
  box-sizing: border-box;
}

#report-call-button {
  font-family: rbold;
  font-size: 14px;
  height: 40px;
  border-radius: 0px;
}

.select-problem-save,
.select-problem-edit,
.material-icons {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.select-new-problem-con {
  border: 1px solid lightgray;
}

.select-input {
  border-bottom: 1px solid lightgray;
  box-sizing: border-box;
}

#report-call-button {
  font-family: rbold;
  font-size: 14px;
  height: 40px;
  border-radius: 0px;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(/f/material-icons.woff2) format("woff2");
}

.select-problem-save,
.select-problem-edit,
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
}

.select-problem-save,
.select-problem-edit {
  transition: background-color 100ms ease;
  width: 40px;
  flex-shrink: 0;
}

.select-problem-save:hover,
.select-problem-edit:hover,
.select-problem-save:focus,
.select-problem-edit:focus {
  background-color: rgba(0, 0, 0, 0.05);
}

.select-problem-save.required-error {
  background-color: #feefed !important;
  outline-color: salmon;
  outline-style: auto;
}

.select-create-problem {
  flex: 1 1;
  padding: 0 14px;
}

.select-new-problem-con {
  position: relative;
  z-index: 3;
}

.select-create-problem {
  background-color: rgba(0, 0, 0, 0.05);
  color: #444;
}

.select-input {
  height: 40px;
  padding: 0 14px;
  width: 100%;
}

.select-new-problem {
  padding: 30px;
}

.select-problem-edit:after {
  content: "edit";
}

.select-problem-save:after {
  content: "save";
}

.required-input-error {
  border-color: salmon !important;
  background-color: #feefed !important;
  outline-color: salmon !important;
}

.select-problem-editing-label {
  font-style: italic;
}

.select-priority {
  line-height: 40px;
  text-align: center;
}

.select-priority-option {
  outline: none;
  margin: 0 6px;
  height: 22px;
  width: 22px;
  border: 3px solid lightgray;
  border-radius: 50%;
  transition: background-color 100ms ease;
}

.select-priority-option.active {
  background-color: lightgray;
}

.new-problem-field:not(:last-child) {
  margin-bottom: 15px;
}

.select-field,
textarea {
  box-sizing: border-box;
}

.form-field {
  margin-bottom: 15px;
}

#report-call-button {
  margin-top: 20px;
  cursor: pointer;
  width: 100%;
  background-color: #f0dd75;
}

