.select,
.select-field-extension,
textarea {
  border: 1px solid lightgray;
}

.material-icons,
.select-button,
.select-option-remove,
.select-options > * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.select.active {
  -webkit-box-shadow: 0 4px 8px rgba(211, 211, 211, 0.5);
          box-shadow: 0 4px 8px rgba(211, 211, 211, 0.5);
}

textarea {
  font-family: roboto, Arial, serif;
}

.select-problem-id,
label.required-field:after {
  background-color: #EEE;
  font-size: 11px;
  display: inline-block;
  line-height: 16px;
  border-radius: 3px;
  padding: 0 6px;
}

.select-row,
.select-problem-row,
.select-create-field {
  border-bottom: 1px solid #EEE;
}

.select-row:last-child,
.select-problem-row:last-child,
.select-create-field:last-child {
  border-bottom: none;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/f/material-icons.woff2) format("woff2");
}

.material-icons,
.select-button,
.select-option-remove {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
}

.select,
.select-field-extension,
textarea {
  border: 1px solid lightgray;
}

.material-icons,
.select-button,
.select-option-remove,
.select-options > * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.select.active {
  -webkit-box-shadow: 0 4px 8px rgba(211, 211, 211, 0.5);
          box-shadow: 0 4px 8px rgba(211, 211, 211, 0.5);
}

textarea {
  font-family: roboto, Arial, serif;
}

.select-problem-id,
label.required-field:after {
  background-color: #EEE;
  font-size: 11px;
  display: inline-block;
  line-height: 16px;
  border-radius: 3px;
  padding: 0 6px;
}

.select-row,
.select-problem-row,
.select-create-field {
  border-bottom: 1px solid #EEE;
}

.select-row:last-child,
.select-problem-row:last-child,
.select-create-field:last-child {
  border-bottom: none;
}

.select,
.select-field-extension,
textarea {
  border: 1px solid lightgray;
}

.material-icons,
.select-button,
.select-option-remove,
.select-options > * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.select.active {
  -webkit-box-shadow: 0 4px 8px rgba(211, 211, 211, 0.5);
          box-shadow: 0 4px 8px rgba(211, 211, 211, 0.5);
}

textarea {
  font-family: roboto, Arial, serif;
}

.select-problem-id,
label.required-field:after {
  background-color: #EEE;
  font-size: 11px;
  display: inline-block;
  line-height: 16px;
  border-radius: 3px;
  padding: 0 6px;
}

.select-row,
.select-problem-row,
.select-create-field {
  border-bottom: 1px solid #EEE;
}

.select-row:last-child,
.select-problem-row:last-child,
.select-create-field:last-child {
  border-bottom: none;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/f/material-icons.woff2) format("woff2");
}

.material-icons,
.select-button,
.select-option-remove {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
}

.select-root {
  position: relative;
  line-height: 40px;
  outline: none;
  padding-bottom: 40px;
}

.select-options {
  max-height: calc(50vh - 100px);
  overflow-y: auto;
  line-height: 32px;
  font-family: Arial, serif;
  font-size: 13px;
}

.select-options:empty:after {
  content: 'No matching results';
  padding: 0 14px;
  text-align: center;
  display: block;
  line-height: 40px;
  font-style: italic;
}

.select-options > * {
  padding: 0 14px;
}

.select-options > *:hover,
.select-options > *:focus {
  background-color: #EEE;
}

.select {
  line-height: 40px;
  overflow: hidden;
  height: 40px;
  border-radius: 3px;
  background: white;
  position: absolute;
  left: 0;
  right: 0;
}

.select.active {
  z-index: 2;
  height: auto;
}

.select.active .select-button {
  background-color: #EEE;
}

.select-row {
  height: auto;
  font-size: 14px;
  position: relative;
}

.select-search {
  position: relative;
  z-index: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.select-search,
.select-create-problem {
  height: 40px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.select-row,
.select-problem-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

.select-option-title {
  padding: 0 14px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.select-button,
.select-option-remove {
  border-radius: 3px;
  border: 2px solid white;
  height: 40px;
  width: 40px;
  -webkit-transition: background-color 100ms ease;
  transition: background-color 100ms ease;
}

.select-button:hover,
.select-option-remove:hover {
  background-color: #EEE;
}

.select-option-no-match,
.select-option-selected {
  display: none;
}

.select-field-extension {
  border-radius: 3px;
  margin-bottom: 3px;
}

.select-field-extension:empty {
  display: none;
}

.select-create-problem {
  background-color: #EEE;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.select-create-edit:after {
  content: 'edit';
}

.select-create-field.active .select-create-edit:after {
  content: 'save';
}

.select-create-field.active .select-create-field-content {
  display: block;
}

.select-create-field.active .select-problem-title {
  border-color: #EEE;
}

.select-create-field-content {
  padding: 20px;
  display: none;
}

.select-problem-id {
  margin: 0 14px;
}

.select-problem-title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 3px;
  padding: 0 4px;
  height: 28px;
  border: 1px solid transparent;
  margin-right: 4px;
}

.select-problem-title:disabled {
  color: black !important;
}

input.required-error,
textarea.required-error {
  border-color: salmon !important;
  background-color: #feefed !important;
  outline-color: salmon !important;
}

.select-root,
textarea,
.urgency-field {
  margin-bottom: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.select-root:last-child,
textarea:last-child,
.urgency-field:last-child {
  margin-bottom: 0;
}

label {
  color: #333;
  font-size: 13px;
  display: block;
  line-height: 24px;
}

label.required-field:after {
  content: 'required';
  margin-left: 10px;
}

label.required-field.required-error:after {
  background-color: salmon;
}

textarea {
  border-radius: 3px;
  resize: vertical;
  display: block;
  min-height: 80px;
  padding: 6px 10px;
  width: 100%;
}

