h1 {
    margin-bottom: 10px;
}

h2 {
    float: left;
    width: 25%;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
}

li:last-child {
    border: none;
}

li a {
    text-decoration: none;
    color: #000;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    display: block;
    width: 2000px;
}
li:hover {
    padding-top: 25px;
    padding-bottom: 15px;
    background-color: #f7f7f9;
}

input[type="radio"] {
    margin-left:10px;
}

th {
    background-color: #FEFFEA;
    text-align: center;
}

table, td, th{
    word-wrap: break-word;
    border-collapse: collapse;
    border: 1px solid black;
}

#body-content {
    width: 100%;
}

#problemtitle {
    margin-top: -30px;
    padding-top: 30px;
    height: 50px;
    border-bottom: 2px solid black;
    position: fixed;
    background-color: white;
}

.spacing{
    height: 50px;
}

.problembuttoncontents {
    float: left;
    width: 25%;
    margin-top: 5px;
}

.problembutton {
    width: 100%;
    text-align: center;
    border-radius: 5px;
    height: 50px;
    padding-bottom: 5px;
    padding-top: 15px;
    cursor: pointer;
}

.priority{
    margin-top: 10px;
    width: 100%;
}

.underline {
    width: 75%;
    border: 1px solid black;
    margin-bottom: 30px;
}

.removemargin {
    margin: 0;
}

.prioritybeggining {
    margin-right: 0;
    display: inline-block;
    text-align: right;
    background-color: lightgray;
}

.priorityending {
    display: inline-block;
    text-align: left;
    font-weight: bold;
    padding-left: 1%;
    padding-right: 1%;
}

.dropdown {
    background-color: #fff3cd;
    overflow: hidden;
    height:auto;
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.descriptionheader {
    font-weight: bold;
    margin-left: 5%;
    margin-top: 5px;
    margin-right: 1%;
    float: left;
    text-align: right;
}

.description {
    width: 75%;
    float: left;
    margin-top: 5px;
}

.solve {
    float: left;
    width: 10%;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 35%;
    margin-bottom: 10px;
    background-color: #f7f7f9;
    font-weight: bold;
    font-size: 15px;
    border: solid black 1px;
    cursor: pointer;
}

.edit {
    float: left;
    width: 10%;
    margin-top: 10px;
    margin-left: 35%;
    margin-right: 5%;
    margin-bottom: 10px;
    background-color: #f7f7f9;
    font-weight: bold;
    font-size: 15px;
    border: solid black 1px;
    cursor: pointer;
}

.solvededitform {
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width:80%;
    float: left;
    display: none;
    overflow: auto;
    background-color: #f2f2f2;
}

.formheader {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

.formtextarea {
    width: 96.5%;
}

.confirmsolved {
    width:30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #f7f7f9;
    font-weight: bold;
    font-size: 15px;
    border: solid black 1px;
    cursor: pointer;
}

.formunderline {
    margin-top: -10px;
    margin-bottom: 10px;
}

.associatedcalls {
    width: 90%;
    float: left;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    color: #6c757d;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.associatedcallstable {
    background-color: #f2f2f2;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: none;
    float: left;
}

.notreason {
    width:15%;
}

.callreason {
    margin-left: 2%;
    margin-right: 2%;
}

.notreasonfield {
    text-align: center;
}

.howwas {
    margin-top: 20px;
}
