@font-face {
  font-family: couture;
  src: url(/f/couture.otf);
}

@font-face {
  font-family: coyote;
  src: url(/f/coyote.ttf);
}

@font-face {
  font-family: KC;
  src: url(/f/KC.ttf);
}

@font-face {
  font-family: lemon  ;
  src: url(/f/lemon.otf);
}

@font-face {
  font-family: roboto  ;
  src: url(/f/roboto.ttf);
}

@font-face {
  font-family: "Bauhaus 93";
  src: url(/f/bauhaus-93-regular.ttf)
}