$sidebar-width: 200px;
$sidebar-spacing: 14px;
$button-height: 40px;
$button-radius: 3px;
$logo-height: 60px;
$header-colour: white;
$body-spacing: 30px;
$MIA-grey: rgb(211, 211, 211);
$MIA-yellow: rgb(255, 217, 0);
$MIA-light-grey: #EEE;
$error-color: salmon;

%MIA-outline {
  border: 1px solid $MIA-grey;
}

%no-select {
  user-select: none;
}

%hover-shadow {
  box-shadow: 0 4px 8px rgba($MIA-grey, 0.5);
}

%MIA-font {
  font-family: roboto, Arial, serif;
}

%tag {
  background-color: $MIA-light-grey;
  font-size: 11px;
  display: inline-block;
  line-height: 16px;
  border-radius: $button-radius;
  padding: 0 6px;
}

%list-underline {
  border-bottom: 1px solid $MIA_light-grey;

  &:last-child {
    border-bottom: none;
  }
}